
body {
  background: rgb(204,204,204); 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  color: #212529;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

body {
  font-weight: 300;
  font-size: 13px;
  background-color: lightgrey;
  max-width: 21cm;
  max-height: 29.7cm;
}

#page {
  background-color: white;
  width: 21cm !important;
  height: 29.7cm !important;
  position: relative;
}

hr {
  max-width: 210mm !important;
  max-height: 297mm !important;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 8px;
}

div {
  margin: 0px;
}

ul {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
  font-weight: 200 !important;
  letter-spacing: 0.1em;
  margin: 0px;
}

h2 {
  font-weight: 200;
  font-size: 22px;
  margin: 0px;
  text-align: center;
}

h3 {
  font-size: 17px;
  float:left;
  font-weight: normal;
  margin: 0px;
}

.left {
  clear: both;
  float: left;
  text-align: left;
}

.right {
  clear: both;
  float: right;
  text-align: right;
}

.pointer:hover
{
  cursor: pointer;
}

#contact-info {
  margin-bottom:0px !important;
}

i {
  font-size: inherit;
}

#code 
{
  height:15px;
  display:inline-block;
  vertical-align: center;
}

.h1 
{
  display:inline-block;
  margin: 0px;
  font-size:36px;
  letter-spacing:3px;
  font-weight:lighter;
  padding-top: 6px;
}

a, a:hover {
  text-decoration:none;
  color:inherit;
}

#footer {
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
.footer-icon {
  margin: 0px 20px;
  font-size: 15px;
  color: rgb(150,150,150)
}

.contact-info {
  text-align: center;
  padding: 0px;
  padding-left: 40px;
  padding-top: 8px;
  color: white;
}

#header {
  margin: 0px;
}

.col3 {
  width: 168.422px;
  margin: 0px 15px;
}

.col9 {
  width: 565.266px;
  margin: 0px 15px;
}

.col12 {
  width: 763.688px;
  margin: 0px 15px;
}

.col6 {
  width: 366.844px;
  margin: 0px 15px;
}

.col1 {
  width:36.125px;
  margin: 0px 15px;
}

.col5 {
  width: 290.703px;
  margin: 0px 15px;
}

.jd_row {
  width: 793.688px;
  max-width: 21cm !important;
  display: flex;
  flex-wrap: wrap;
}

#project-header, #volunteering-header {
  margin-top: -7px;
}