
body {
  background: rgb(204,204,204); 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  color: #212529;
}

page {
  background: rgb(240,240,240);
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  overflow: hidden;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

body {
  font-weight: 300;
  font-size: 13px;
  background-color: lightgrey;
  max-width: 21cm;
  max-height: 29.7cm;
}

#page {
  background-color: white;
  width: 21cm !important;
  height: 29.7cm !important;
  position: relative;
}

hr {
  max-width: 210mm !important;
  max-height: 297mm !important;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 8px;
}

ul {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
  font-weight: 200 !important;
  letter-spacing: 0.1em;
  margin: 0px;
}

h2 {
  font-weight: 200;
  font-size: 25px;
  margin: 0px;
  text-align: center;
  letter-spacing: 2px;
}

h3 {
  font-size: 17px;
  font-weight: bolder;
  margin: 0px;
  letter-spacing: 0.5px;
}

.left {
  clear: both;
  float: left;
  text-align: left;
}

.right {
  clear: both;
  float: right;
  text-align: right;
}

.pointer:hover
{
  cursor: pointer;
}

i {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.h1 
{
  display:inline-block;
  margin: 0px;
  font-size:45px;
  letter-spacing:3px;
  font-weight:lighter;
  padding-top: 6px;
  line-height: 1.2;
  margin-bottom: 20px;
}

b {
  font-weight: 300;
}

a, a:hover {
  text-decoration:none;
  color:inherit;
}

#volunteering-header {
  margin-top: 10px;
}

#project-header {
  margin-top: -10px;
}

p {
  margin: 0px;
  padding-bottom: 15px;
}

#left-content {
  padding: 20px;
  background-color: rgb(200,200,200);
  text-align: center;
  margin-left: 10px;
  width: 198px;
  float: left;
}

#left-content ul {
  padding: 0px;
}

#left-content li {
  list-style-type: none;
  margin-bottom: 8px;
  line-height: 1.3;
}

#left-content h2 {
  margin-top:30px;
}

#left-content hr {
  margin-bottom: 15px;
}

#left-content h3 {
  display: block;
}

#right-content {
  width: 515px !important;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

.row {
  display: inline-block;
}

.role {
  width: 178px;
  margin: 0px;
  text-align: left;
  float: left;
}

.volunteering .role {
  width: 230px;
  margin-right: 20px;
}

.role p {
  padding-bottom: 0px;

}

.info {
  width: 335px !important;
  margin: 0px;
  float: right;
}

.role i {
  font-size: inherit;
  margin: 0px;
}

#projects .row {
  margin-bottom: 10px;
}

#projects .info {
  padding-left: 10px;
  width: 310px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}